//font
$main-font:'Roboto', sans-serif, "Open Sans", sans-serif;

// Colors
$yellow: #f9d423;
$grey: #ddd;
$red: #f85f40;
$black:#000;
$green: #1abc9c;
$blue: #0faff1;
$orange: #f1540f;
$footer-bg-color: #2a2a2a;
$white: #fff;
$accent-color:#4D8C6C;
$hover-color:#2A4C3B;

// Sizes
$nav-height:70px;
$auth-height:100%;
$font-size:1rem;

//size
$mobile: 320px;
$tablet: 768px;
$view-port: 1200px;

