@import "../partials/params";
@import "../partials/mixins";

.article-wrap {
    @include flex;
    flex-wrap: wrap;
    @include outline;
    height: 400px;
    width: 100%;
    &__one {
        @include outline;
        margin: 10px;
        width: 46%;
        height:auto;
    }
    &__two {
        margin: 10px;
        @include outline;
        width: 46%;
        height:auto;
    }
}