@import "../partials/params";
@import "../partials/mixins";

.auth {
    width: 100%;
    background: $black;


    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        height: $nav-height;
    }

    &__item {

        @include clear-list;
    }
    &__link {
        display: block;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: bold;
        &:hover {
            color:$grey;
        }
    }

}
