/*
@import "../partials/params";
@import "../partials/mixins";

.top-menu--hidden-menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;

    &__list {
        margin: 0;
        padding: 0;
        text-align: center;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }
    &__link {
        display: inline-block;
        margin: 20px auto;
        color: #fff;
    }
}

*/
