@import "../partials/params";
@import "../partials/mixins";


.logo-top {
   display: flex;
    &__title,
    &__dot{
        color:$white;
        font-family: 'Eurofurence';
        font-weight: normal;
        font-size: 2.5rem;
    }
    &__dot{
        color: rgb(88, 201, 58);
    }

}