@import "../partials/params";
@import "../partials/mixins";


.main-menu {
@include clear-list;
    @include flex-around;
    width: 560px;
    text-align: center;
    height: 100%;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        border-left: solid 1px $white;
        border-bottom: 5px solid $black;
        font-weight:bold;
        height: 100%;
        &:hover {
            border-bottom: 5px solid rgb(85, 85, 85);
            z-index: 2;
        }
        &:last-child {
            border-right:solid 1px $white;
        }
        &:first-child{
            border-bottom: 5px solid rgb(85, 85, 85);
            z-index: 2;
        }
    }
    &__link {
        font-size: 1.3rem;
        color: $white;
        &:last-child {
            color:rgb(119, 119, 119);
        }
        &:hover{
            @include link;
            color:$white;
        }
    }

}

