@import "../partials/params";
@import "../partials/mixins";

.wrapper {
    width: 1200px;//ширина обвертки всего сайта
    outline: 1px solid $red;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;//flex-wrap задает многострочную расстановку блоков по главной оси
}