@import "partials/params";
@import "partials/mixins";

@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
    font-size:100%;
}
.wrap {
    @include clear;
    background-color:$grey;
    max-width: 100%;
    font-family:$main-font;
    line-height: 1.5;
}


h1, h2, h3, h4, h5, h6, p {
    @include clear;
}

a {
    text-decoration: none;
}

.view-port {
    width: $view-port;
    margin: 0 auto;
}

.wrap-site {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1680px;
    min-width: 320px;
    margin: 0 auto;
    @include box-shadow(0, 2px, 5px, #555);
    overflow: hidden;
    background-color: $white;
}





